body{
    margin: 0;
    border:0;
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
}

#uu{
    background-color: teal;
    color: white;
    padding: 2px;
    border: dotted blue;
}
section{
    display: inline-block;
    margin: 5px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px grey;
}

main{
    padding-left: 100px;
    border: dotted red;
}
h1{
    padding-left: 15px;
}

h4{
    font-weight: 400;
    padding-left: 20px;
    font-style: normal;
}
